<div class="row">
    <div class="col-md-3 book" ng-show="authorsBooks.all" ng-repeat="(key,val) in authorsBooks.all"
         ng-mouseenter="item.showEdit = true" ng-mouseleave="item.showEdit = false">
        <div class="bookBorder">
            <div class="bookTitle">{{val.title}} <span class="year">({{val.year}})</span></div>
            <div class="bookAuthors">
                <a ui-sref="authorsBooks({author: a})" ng-repeat="a in val.author">
                    {{a}}
                </a>
            </div>
            <div>
                <img src="{{val.image}}" alt="" class="img-responsive bookImage"/>
            </div>
            <div class="stars"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i
                    class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i
                    class="glyphicon glyphicon-star"></i></div>
            <div class="tools" ng-show="item.showEdit">
                <div class="row pull-right">
                    <a ui-sref="booksEdit({id: key})" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a ng-click="authorsBooks.delete(key)" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 book">
        <button class="btn btn-block addBookBtn" ui-sref="booksAdd">Add new</button>
    </div>
</div>